.front-photo {
    width: 100%;
    height: auto;
}

.face {
    width: 100%;
    height: auto;
    position: relative;
}

.goal {
    position: absolute;
    left: 42%;
    top: 40%;
    background-color: #91be09;
    padding: 10px;
    color: #FFFFFF;
    font-size: 65px;
    font-weight: bold;
}

.home {
    background-color: #91be09;
}

.stats {
    width: 100%;
    height: auto;
    text-align: center;   
}

.box {
    display: inline-block;
    padding: 1%;
    margin: 1%;
    background-color: rgb(77, 77, 77);
    width: 20.5%;
    height: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
    line-height: 50%;
}