@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
.nav {
    overflow: hidden;
    background-color: rgb(77, 77, 77);
}

.nav a {
    float: left;
    font-size: 20px;
    font-family: 'Sriracha', cursive;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav img {
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 35px;
    height: 35px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .redirect3 {
    font-size: 20px;
    font-family: 'Sriracha', cursive;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.nav a:hover, .dropdown:hover .dropbtn, .redirect3:hover {
    background-color: red;
}

.dropdown-select {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-select a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-select {
    display: block;
}